<nav class="navbar">

    <!-- BRAND -->
    <a href="index.html" class="navbar-brand">
        <img src="../pictures/M.png" class="navbar-logo" alt="Logo">
        3movCollectors
    </a>

    <!-- RIGHT SIDE -->
    <div class="nav-right">

        <button class="navbar-buttons" onclick="window.location.href='login.html'">
            Login
        </button>

        <img src="../pictures/line.png" class="nav-separator">

        <button class="navbar-buttons" onclick="window.location.href='signup.html'">
            Sign Up
        </button>

    </div>
</nav>
