<div class="side-panel expanded">

    <!-- Toggle Button -->
    <div class="side-toggle">
        <img id="sideToggleIcon" src="../pictures/back.png" alt="toggle">
    </div>

    <!-- Menu Items -->
    <ul class="side-menu">
        <li class="menu-item active" data-link="dashboard.html">
            <img src="../pictures/home.png" class="menu-icon">
            <span>Dashboard</span>
        </li>

        <li class="menu-item" data-link="browse-movies.html">
            <img src="../pictures/film.png" class="menu-icon">
            <span>Browse Movies</span>
        </li>

        <li class="menu-item" data-link="watchlist.html">
            <img src="../pictures/bookmark.png" class="menu-icon">
            <span>My Watchlist</span>
        </li>

        <li class="menu-item" data-link="friends.html">
            <img src="../pictures/friends.png" class="menu-icon">
            <span>Friends</span>
        </li>
        <!-- - - -  -->
        <li class="menu-item" data-link="events.html">
            <img src="../pictures/calendar.png" class="menu-icon">
            <span>Events</span>
        </li>
<hr class="footer-divider">
        <li class="menu-item" data-link="admin-panel.html">
            <img src="../pictures/admin.png" class="menu-icon">
            <span>Admin Panel</span>
        </li>

        <li class="menu-item" data-link="settings.html">
            <img src="../pictures/settings.png" class="menu-icon">
            <span>Settings</span>
        </li>

        <li class="menu-item" data-link="help.html">
            <img src="../pictures/help.png" class="menu-icon">
            <span>Help & Support</span>
        </li>
    </ul>
</div>
