<div class="side-panel collapsed">

    <!-- Toggle Button -->
    <div class="side-toggle">
        <img id="sideToggleIcon" src="../pictures/menu.png" alt="toggle">
    </div>

    <ul class="side-menu">

        <li class="menu-item" data-link="dashboard.html">
            <img src="../pictures/home.png" class="menu-icon">
        </li>

        <li class="menu-item" data-link="browse-movies.html">
            <img src="../pictures/film.png" class="menu-icon">
        </li>

        <li class="menu-item" data-link="watchlist.html">
            <img src="../pictures/bookmark.png" class="menu-icon">
        </li>

        <li class="menu-item" data-link="friends.html">
            <img src="../pictures/friend.png" class="menu-icon">
        </li>


        <li class="menu-item" data-link="events.html">
            <img src="../pictures/calendar.png" class="menu-icon">
        </li>

        <li class="menu-item" data-link="admin-panel.html">
            <img src="../pictures/admin.png" class="menu-icon">
        </li>

        <li class="menu-item" data-link="settings.html">
            <img src="../pictures/settings.png" class="menu-icon">
        </li>

        <li class="menu-item" data-link="help.html">
            <img src="../pictures/help.png" class="menu-icon">
        </li>

    </ul>
</div>
