* {
  --theGreenColor: #09855b;
  --TextColor: #171a1f;
  --Pink: #f2e0e7;
  --DarkBlue: #5c8bc0;
  --LightBlue: #e0edfc;
  --boxBackground: #afe4f163;
  --Shadow: rgba(0, 0, 0, 0.15);
  --clickAbleLink: #ff2c2c;
  --ratingYellow: #ff9100;
  --statCardBG: #7f6d8d0a;
  --statCardBorder: #dfdcbc;
}

/* BODY + LAYOUT */
body {
  margin: 0;
  margin-top: 5px;
  color: #ffffff;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: radial-gradient(
    circle at 20% 20%,
    rgb(196, 255, 250) 0%,
    rgba(255, 237, 188, 1) 30%,
    rgba(236, 217, 255, 1) 55%,
    rgba(202, 224, 255, 1) 80%
  );
  background-blend-mode: screen;
  background-size: cover;
  background-attachment: fixed;
}