body {
  margin: 0;
  padding-top: 60px;
  width: 100%;
  background-color: wheat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  overflow-x: hidden;
}
.container {
  max-width: 1000px;
  margin: 100px auto;
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
.headingg {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  color: #171a1f;
}
.form-fill {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}
.form-left, .form-right {
  flex: 1;
  min-width: 280px;
  display: flex;
  flex-direction: column;
}
label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #171a1f;
}
input, textarea {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin-bottom: 20px;
  resize: none;
}
.submittion {
  padding: 12px 20px;
  font-size: 18px;
  background-color: #98db2e;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}
.submittion:hover {
  color: #354e0d;
}
@media (max-width: 768px) {
  .container {
    margin: 80px 20px;
    padding: 30px 20px;
  }

  .headingg {
    font-size: 26px;
  }

  input, textarea {
    font-size: 15px;
    padding: 10px;
  }

  .submittion {
    font-size: 16px;
    padding: 10px 16px;
  }
  .links {
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  }
  .links a {
    justify-content: center;
    font-size: 18px;
  }
  .links .poster {
    width: 24px;
    height: 24px;
    margin-right: 6px;
  }
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; /* spacing between links */
  margin-bottom: 20px;
  margin-top: 10px;
}

.links a {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.links .poster {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}

