@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;600&family=Anaheim&display=swap');
/* ===========================
   FOOTER BASE
   =========================== */
.footer {
    background-color: #111;
    opacity: 0.9;
    color: #ffffff;
    font-family: Arial, sans-serif;
    /* margin-left: auto; */
    transition: 0.25s ;
}
.footer-container {
    display: flex;
    justify-content:center;  
    align-items:center;
    gap: 20%;
    flex-wrap: wrap;
}

/* ===========================
   BRAND SECTION
   =========================== */
.footer-brand {
    padding-top: 40px;
    /* padding-left: 20%; */
    /* max-width: 40%; */
    padding-bottom: 25px;
}

.footer-logo-wrap {
    display: flex;
    align-items: center;
    gap: 2px;
}

.footer-logo {
    width: 54px;
    height: 54px;
    /* object-fit: contain; */
}

.footer-title {
    font-family: 'Manrope', sans-serif;
    font-weight: bolder;
    font-size: 36px;
    font-weight: 600;
}

.footer-desc {
    margin-top: 12px;
    line-height: 1.5;
    font-size: 14px;
    color: #bbb;
}

/* ===========================
   COLUMNS
   =========================== */
.footer-column {
    padding-top: 94px;
    padding-bottom: 15px;
    /* padding-right: -30px; */
    /* vertical-align: middle; */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-column h3 {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.footer-column a {
    align-items: center;
    text-decoration: none;
    color: #bbb;
    font-size: 14px;
    transition: 0.25s ;
}

.footer-column a:hover {
    /* transform: scale(1.06); */
    color: #fff;
}
